<!-- templates/home.html -->
<header>
{% extends 'pages/base.html' %}
{% block content %}

    <div>

        {% if user.is_authenticated %}

         <header>
              <div class="nav-left">
                  <h1>Hello world!</h1>
              </div>
              <div class="nav-right">
                  <a href="{% url 'data' %}">+ New note</a>
              </div>
          </header>
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>

        {% else %}
        <header>
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
        {% endif %}

        </header>
    </div>

{% endblock content %}

</header>